.header {
    width: 100%;
    height: var(--header-height);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    background: var(--background-color-primary);
}

.header-nav {
    width: var(--header-width);
    margin: 0 auto;
    height: 100%;
    justify-content: space-between;
}

.header-nav-heading {
    color: var(--primary-color);
    font-size: var(--font-size-primary);
    cursor: default;
}

.header-nav-buttons {
    gap: 1em;
}

.header-nav,
.header-nav-heading,
.header-nav-buttons {
    display: flex;
    align-items: center;
}

.header-nav-heading .icon {
    margin-right: 0.87em;
}

.btn-new-contact .icon {
    margin-left: 0.9em;
}

.btn-new-contact {
    background-color: var(--secondary-color);
}

.btn-new-contact:hover {
    background-color: rgba(209, 0, 62, 1);
}

.btn-contact-groups {
    background-color: var(--primary-color);
}

.btn-contact-groups:hover {
    background-color: rgba(0, 71, 198, 1);
}

/* MEDIA */
@media only screen and (max-width: 480px) {
    .header-nav-buttons {
        gap: 0.5em;
    }

    .btn-contact-groups {
        align-self: stretch;
    }

    .btn-new-contact span {
        display: none;
    }

    .btn-new-contact .icon {
        margin-left: 0;
    }
}