.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.sidebar-header-heading {
    font-size: var(--font-size-primary);
}